.residence-container {
  overflow: hidden;
  position: relative;
}
.residence-head {
  margin-bottom: 2rem;
}

.swiper-horizontal {
  overflow: visible;
}
.residence-btn {
  position: absolute;
  top: -4rem;
  right: 0;
}
.residence-btn button {
  font-style: 1.2rem;
  margin: 0 1rem;
  padding: 1rem;
  color: blue;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  border: none;
}

.residence-btn > :nth-child(1) {
  background-color: #eeeeff;
}

.residence-btn > :nth-child(2) {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
}
@media (max-width: 640px) {
  .residence-head {
    align-items: center;
  }
  .residence-btn {
    position: initial;
  }
}
